        
        <section id="hero" class=" align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div style="    text-align: center;" class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Transform natural language into ready to use code </h1>
          <h2 style="    font-weight: 100;">Spend less time searching for code and more delivering.  </h2>
          <div><a href="#about" class="btn-get-started scrollto" style="border-radius: 2em;">Get Early Access</a></div>
			<span id=""></span>
			 
        </div>
      </div>
    </div>
    <div class="text-editor container">
        <input style="display:none;margin-left:-15px;width: inherit;position: absolute;margin-top:-84px;" value="here">
        <div style="margin-left: -15px;width: 71.2em;margin-top: -80px;background:transparent" class="input-group mb-3">
		  <div class="input-group-prepend" style="background:transparent">
		    <span class="input-group-text" id="basic-addon1" style="background:transparent;border:none">
		      <img src=<%= asset_path('search.svg') %> class="img-responsive" alt="Responsive image" width="30" height="24" />
		    </span>
		  </div>
		  <p id="typed" style="background:transparent;border:none;font-weight: 200;color:white!important" type="text" class="form-control"  value="JS, check if image exists" aria-describedby="basic-addon1"></p>

		</div>
        <pre style="height: 28em;">
          <code id="checkIfImageExists" >
          <span class="purple">function</span> <span class="blue">checkIfImageExists</span>(url, callback) {
              <span class="purple">const</span> img <span class="cyan">=</span> <span class="purple">new</span> <span class="yellow">Image</span>();
              
              img.<span class="red">src</span> <span class="cyan">=</span> url;
              
              <span class="purple">if</span> (img.<span class="red">complete</span>) {
                <span class="blue">callback</span>(<span class="orange">true</span>);
              } <span class="purple">else</span> {
                img.<span class="red">onload</span> <span class="cyan">=</span> () <span class="purple">=></span> {
                  <span class="blue">callback</span>(<span class="orange">true</span>);
                };
                img.<span class="red">onerror</span> <span class="cyan">=</span> () <span class="purple">=></span> {
                  <span class="blue">callback</span>(<span class="orange">false</span>);
                };
              }
            }
          </code>
      <code id="2x3grid" style="margin-top:-3em">
          &lt;<span class="orange">div</span>&gt; 
            &lt;<span class="orange">div <span class="blue">class</span>=<span class="green">"row"</span></span>&gt; 
              &lt;<span class="orange">div <span class="blue">class</span>=<span class="green">"col-md-6"</span></span>&gt;&lt;<span class="orange">/div</span>&gt;
              &lt;<span class="orange">div <span class="blue">class</span>=<span class="green">"col-md-6"</span></span>&gt;&lt;<span class="orange">/div</span>&gt;
            &lt;<span class="orange">/div</span>&gt;
            &lt;<span class="orange">div <span class="blue">class</span>=<span class="green">"row"</span></span>&gt; 
              &lt;<span class="orange">div <span class="blue">class</span>=<span class="green">"col-md-6"</span></span>&gt;&lt;<span class="orange">/div</span>&gt;
              &lt;<span class="orange">div <span class="blue">class</span>=<span class="green">"col-md-6"</span></span>&gt;&lt;<span class="orange">/div</span>&gt;
            &lt;<span class="orange">/div</span>&gt;
          &lt;<span class="orange">/div</span>&gt;
      </code>
	<code id="signupboot" class="width:fit-content">
          &lt;<span class="orange">form</span>&gt;
            &lt;<span class="orange">div <span class="blue">class</span>=<span class="green">"form-group"</span></span>&gt;
              &lt;<span class="orange">label <span class="blue">for</span>=<span class="green">"exampleInputEmail1"</span></span>&gt; Email Address &lt;<span class="orange">/label</span>&gt;
              &lt;<span class="orange">input <span class="blue">type</span>=<span class="green">"email"</span> <span class="blue">class</span>=<span class="green">"form-control"</span> <span class="blue">placeholder</span>=<span class="green">"Enter email"</span></span>&gt;
              &lt;<span class="orange">small <span class="blue">class</span>=<span class="green">"form-text text-muted"</span></span>&gt;We'll never share your email with anyone else.&lt;<span class="orange">/small</span>&gt;
              &lt;<span class="orange">small <span class="blue">for</span>=<span class="green">"exampleInputEmail1"</span></span>Email Address&gt;&lt;<span class="orange">/label</span>&gt;
            &lt;<span class="orange">/div</span>&gt;
            &lt;<span class="orange">div <span class="blue">class</span>=<span class="green">"form-group"</span></span>&gt;
              &lt;<span class="orange">label <span class="blue">for</span>=<span class="green">"exampleInputPassword1"</span></span>&gt; Password &lt;<span class="orange">/label</span>&gt;
              &lt;<span class="orange">input <span class="blue">type</span>=<span class="green">"password"</span> <span class="blue">class</span>=<span class="green">"form-control"</span> <span class="blue">placeholder</span>=<span class="green">"Password"</span></span>&gt;
            &lt;<span class="orange">/div</span>&gt;
            &lt;<span class="orange">button</span> <span class="blue">type</span>=<span class="green">"submit"</span> <span class="blue">class</span>=<span class="green">"btn btn-primary"</span>&gt;&lt;<span class="orange">/button</span>&gt;
          &lt;<span class="orange">/form</span>&gt;
	</code>
        </pre>
      </div>
  </section><!-- End Hero -->
      
    </div>
        <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Use Cases</h2>
        </div>

        <div class="row" style="margin-bottom:-6em">
      
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100" >
            <div style="border:1px solid rgba(116, 15, 214, 0.9);border-radius:3px" class="icon-box iconbox-yellow">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
                </svg>
                <i class="bx bx-layer"></i>
              </div>
              <h4>Starters</h4>
              <p>We make learning programming 10x easier by helping you to translate your ideas into code in the blink of an eye</p>
            </div>
          </div>

          <div  class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div style="border:1px solid rgba(116, 15, 214, 0.9);border-radius:3px" class="icon-box iconbox-red">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572"></path>
                </svg>
                <i class="bx bx-slideshow"></i>
              </div>
              <h4>Educational Institutions</h4>
              <p>Teach with examples, help your students learn faster and trigger curiosity to further develop their minds.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div style="border:1px solid rgba(116, 15, 214, 0.9);border-radius:3px" class="icon-box iconbox-teal">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,566.797414625762C385.7384707136149,576.1784315230908,478.7894351017131,552.8928747891023,531.9192734346935,484.94944893311C584.6109503024035,417.5663521118492,582.489472248146,322.67544863468447,553.9536738515405,242.03673114598146C529.1557734026468,171.96086150256528,465.24506316201064,127.66468636344209,395.9583748389544,100.7403814666027C334.2173773831606,76.7482773500951,269.4350130405921,84.62216499799875,207.1952322260088,107.2889140133804C132.92018162631612,134.33871894543012,41.79353780512637,160.00259165414826,22.644507872594943,236.69541883565114C3.319112789854554,314.0945973066697,72.72355303640163,379.243833228382,124.04198916343866,440.3218312028393C172.9286146004772,498.5055451809895,224.45579914871206,558.5317968840102,300,566.797414625762"></path>
                </svg>
                <i class="bx bx-arch"></i>
              </div>
              <h4>Businesses</h4>
              <p>Boost productivity by reducing at maximum the development times using Ginevar's plug and play code.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
        </div>

        <div class="row" style=" margin:auto">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>1 Dev</li>
                <li>10 requests/ month</li>
                <li>Support 24/7</li>
                <li>HTML, CSS, JS Support</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Start Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Startup</h3>
              <h4><sup>$</sup>1<span> / 100 searches</span></h4>
              <ul>
                <li>5 developers</li>
                <li>1000 requests/ month</li>
                <li>Support 24/7</li>
                <li>Full Library Support</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Start Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Enterprise</h3>
              <h4><sup>$</sup>1.50<span> / 100 searches</span></h4>
              <ul>
                <li>Unlimited developers</li>
                <li>Unlimited requests</li>
                <li>Support 24/7</li>
                <li>Full Library Support</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Start Now</a>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Pricing Section -->
<%= render "layouts/footer" %>