
        <footer id="footer">

        <div class="footer-top">
          <div class="container">
            <div class="row">

              <div class="col-lg-3 col-md-6 footer-contact">
                <a href="/"><img src=<%= asset_path('logo.svg') %> width="70"></a>
              </div>
				<div class="col-lg-4 col-md-6 footer-links">
    
              </div>
              <div class="col-lg-2 col-md-6 footer-links">
                <h4>Explore</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="index">Home</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="index#pricing">Pricing</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="contact">Contact</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="login">Login</a></li>
               
                </ul>
              </div>

              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Resources</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of Service</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Disclaimer</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Cookie Policy</a></li>
                  </ul>
              </div>


            </div>
          </div>
        </div>

        <div class="container">

          <div class="copyright-wrap d-md-flex py-4">
            <div class="me-md-auto text-center text-md-start">
              <div class="copyright">
                &copy; Copyright <strong><span>Ginevar</span></strong>. All Rights Reserved
              </div>
            </div>
          </div>

        </div>
  </footer><!-- End Footer -->